* {
  margin: 0;
  padding: 0;
}
.divTop {
  background-color: aqua;
  border: 1px solid #000;
  margin: 50px;
  padding: 30px;
}
.divBottom {
  background-color: beige;
  border: #fdfdfd;
  border-radius: 20px;
  margin: 100px;
  padding: 100px;
}

ul.menuArea {
  list-style: none;
  display: inline-flex;
  background-color: #000;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
}

ul.menuArea li {
  margin: 0px 15px;
  font-size: 20px;
}
